@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, :root{
  height: 100%;
  background: black;
  color-scheme: dark;
}

/* Add this CSS to your stylesheet */
::-webkit-scrollbar {
  width: 10px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the color of the scrollbar thumb */
  border-radius: 5px; /* Optional: Set the border-radius for a rounded appearance */
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Set the color of the scrollbar track */
}


@keyframes colorChange {
  0% {
    background: linear-gradient(to bottom, #38a169, #38a16900); /* Green */
  }
  30% {
    background: linear-gradient(to bottom, #4299e1, #4299e109); /* Blue */
  }
  60% {
    background: linear-gradient(to bottom, #e53e3e, #e53e3e02); /* Red */
  }
  90% {
    background: linear-gradient(to bottom, #7a38a1, #38a16907); /* Green */
  }
  100% {
    background: linear-gradient(to bottom, #38a169, #38a16900); /* Back to Green */
  }
}

.animation-color-change {
  animation: colorChange 15s infinite; /* 3 colors x 3 seconds each = 9 seconds total */
  border: transparent;
  box-shadow: transparent;
}
