@tailwind base;
@tailwind components;
@tailwind utilities;

html,body, :root{
  height: 100%;
  background: black;
  color-scheme: dark;
}

@keyframes colorChange {
  0% {
    background: linear-gradient(to bottom, #38a169, #38a16900); /* Green */
  }
  30% {
    background: linear-gradient(to bottom, #4299e1, #4299e109); /* Blue */
  }
  60% {
    background: linear-gradient(to bottom, #e53e3e, #e53e3e02); /* Red */
  }
  90% {
    background: linear-gradient(to bottom, #7a38a1, #38a16907); /* Green */
  }
  100% {
    background: linear-gradient(to bottom, #38a169, #38a16900); /* Back to Green */
  }
}

.animation-color-change {
  animation: colorChange 15s infinite; /* 3 colors x 3 seconds each = 9 seconds total */
  border: transparent;
  box-shadow: transparent;
}
